# Data Cleaning

On this notebook we created a dataframe with the results of the FPT for each individual and for 50 different circles radii. The radii range is from 12 to 250 meters, the lower due to the GPS error and the higher because it is a quarter of the net displacement of the species (see Barraquand & Benhamou, 2008).


## Input
  **file_1**: FPT results for 50 radii of each individual and trajectory , obtained using R adehabitatLT package. The file name correspond to the individual and it's trajectory. For example: the 2nd trajectory of the 1st indivivual is "ID1.2".
  
  **file_2**: different trajectories attributes as the coordinates, time lag, date, etc. The file name correspond to the individual and it's trajectory. For example: the 2nd trajectory of the 1st indivivual is "ID_1.2".
  
  **idx**: dataframe index. The file name correspond to the individual and it's trajectory. For example: the 2nd trajectory of the 1st indivivual is "idx1.2".

## Output

**new_bigdf** : data frame with the woodpecker ID, the date, the coordinates, the relocations and the FPT for the 50 radii.

## References

BARRAQUAND F & S BENHAMOU (2008) Animal movements in heterogeneous landscapes: Identifying profitable places and homogeneous movement bouts. Ecology 89(12): 3336-3348.

In [1]:
import pandas as pd
from rpy2.robjects import r
import rpy2.robjects.pandas2ri as pandas2ri

We created a **"read"** function, which open the R file and join the different dataframes of the FPT results with the coordinates of the individuals. There were results just for 18 individuals, due to the exclusion of 6 irregular trajectories.

In [2]:
def read (file_1, file_2, idx,x,y):
    from pathlib import Path
    my_file= Path(file_1)

    if my_file.is_file(): 
        #Load R file
        rf=r['load'](file_1) 
        df=pandas2ri.ri2py_dataframe(r[rf[0]])

        #Transform the R file to a datsaframe 
        datadf =[]
        for col in df.columns:
            datadf.append(pd.Series(list(df.iloc[0][col])))
        newdf = pd.DataFrame(data = datadf).T

        #Add new columns
        reloc=pd.read_csv(idx,header=None, names=None)
        newdf.columns= ["FPT" + str (i) for i in range (1,51)]
        newdf.insert(0, "ID", x)
        newdf.insert(1, "Reloc",reloc[0])
        newdf.insert(2, "Day", y)

        #Load R file
        rf2=r['load'](file_2)
        df2=pandas2ri.ri2py_dataframe(r[rf2[0]])

        #Add columns
        df2.insert(0, "Reloc", df2.index)
        df2['Reloc'] = pd.to_numeric(df2['Reloc'])
        
        #Drop columns that are not necessary
        df2=df2.drop(['dx', 'dy','R2n', 'abs.angle', 'rel.angle'], axis="columns")
        
        #Change date format to datetime
        df2['date']=df2.date.map(lambda x: pd.to_datetime(x, unit='s'))

        #Join dataframe on the relocation column
        id_join=pd.merge(newdf, df2, on="Reloc", how="inner") 
        #Dataframe for one trajectory of one woodpecker
        
        return id_join
    
    else:
       
        return None

In [ ]:
PATH='No Interpolados/' #Files Path

In [3]:

id_todos= []
#A loop that applies the read function to every file
for x in range (1,19):
    for y in range (1,9):
        file_1= PATH +'ID'+ str(x) + '.' + str(y)
        file_2= PATH +'ID' + '_' + str(x) + '.' + str(y)
        idx= PATH +'idx' + str(x) + '.' + str(y) + '.' + 'csv'        
        df=read(file_1, file_2, idx, x, y) 
        if df is not None:
            #Creates a list of the FPT results and trajectory attributes of every individual
            id_todos.append(df) 
            
#Creates a dataframe of the FPT results and trajectory attributes of every individual        
bigdf= pd.concat(id_todos)

In [4]:
bigdf

,ID,Reloc,Day,FPT1,FPT2,FPT3,FPT4,FPT5,FPT6,FPT7,...,FPT46,FPT47,FPT48,FPT49,FPT50,x,y,date,dist,dt
0,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,579778.3163,3912570.091,2014-10-08 18:02:00,14.882624,120.0
1,1,2,1,113.059505,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,579768.7550,3912558.686,2014-10-08 18:04:00,88.330710,120.0
2,1,3,1,35.961147,50.516849,65.072551,79.628253,94.183956,108.739658,123.295360,...,NaN,NaN,NaN,NaN,NaN,579800.3625,3912476.204,2014-10-08 18:06:00,73.249729,120.0
3,1,4,1,43.683414,61.364795,79.046177,96.727559,114.408940,132.090322,149.771703,...,NaN,NaN,NaN,NaN,NaN,579785.6257,3912404.452,2014-10-08 18:08:00,59.938469,120.0
4,1,5,1,42.489283,59.687327,76.885370,94.083413,111.281457,128.479500,145.677543,...,NaN,NaN,NaN,NaN,NaN,579777.6466,3912345.047,2014-10-08 18:10:00,77.986874,120.0
5,1,6,1,69.303879,97.355449,125.407020,153.458590,277.420294,455.552630,552.293270,...,5324.927310,5353.968160,5383.009009,5412.049859,5441.090708,579741.8035,3912275.785,2014-10-08 18:12:00,28.324581,120.0
6,1,7,1,152.519163,214.253110,275.987057,337.721004,401.257139,465.811160,530.365181,...,5476.050232,5504.051143,5532.052053,5560.052964,5588.053875,579763.7852,3912293.648,2014-10-08 18:14:00,NaN,120.0
7,1,10,1,124.077987,174.300030,224.522072,274.744115,324.966157,375.188200,425.410242,...,5406.613674,5430.623917,5454.634160,5478.644403,5502.654646,579724.7281,3912310.370,2014-10-08 18:20:00,64.291290,120.0
8,1,11,1,51.421982,72.235641,93.049301,113.862960,134.676619,155.490279,176.303938,...,9669.651089,NaN,NaN,NaN,NaN,579784.0101,3912335.250,2014-10-08 18:22:00,49.614242,120.0
9,1,12,1,170.590982,223.892144,277.193306,735.471011,778.414284,996.989863,1059.720737,...,5451.989707,5476.891018,5501.792330,5526.693641,5551.594953,579743.7552,3912306.248,2014-10-08 18:24:00,9.479043,120.0
10,1,13,1,220.713734,660.823814,692.274657,723.725499,755.176341,786.627183,1124.989652,...,5427.821185,5453.972758,5480.124330,5506.275903,5532.427476,579746.1559,3912297.078,2014-10-08 18:26:00,15.338423,120.0
11,1,14,1,196.841088,517.743787,603.377775,652.179651,679.458249,706.736846,734.015444,...,5351.513430,5379.250375,5406.987320,5434.724266,5462.461211,579739.9457,3912283.053,2014-10-08 18:28:00,13.986122,120.0
12,1,15,1,362.677321,655.598610,685.738002,715.877393,746.016785,776.156176,1120.504477,...,5418.321440,5444.436203,5470.550965,5496.665728,5522.780490,579743.9655,3912296.449,2014-10-08 18:30:00,2.258163,120.0
13,1,16,1,621.692551,650.709482,679.497989,708.286495,737.075001,765.863507,794.652013,...,5408.641360,5435.027206,5461.413051,5487.798897,5514.184742,579743.5415,3912294.231,2014-10-08 18:32:00,5.333383,120.0
14,1,17,1,591.054236,653.447875,681.826373,710.204871,738.583368,766.961866,1491.754164,...,5412.654617,5439.728956,5466.803294,5493.877632,5520.951971,579748.0413,3912291.368,2014-10-08 18:34:00,40.901647,120.0
15,1,18,1,161.422497,194.055984,226.689470,259.322957,291.956443,324.589929,390.828046,...,5595.692650,5622.856183,5690.673799,9699.307378,NaN,579773.1638,3912323.645,2014-10-08 18:36:00,10.357613,120.0
16,1,19,1,173.820464,217.897653,261.974841,306.052029,350.129218,648.904694,718.795020,...,5568.220490,5593.698039,5619.175588,9567.828716,9635.166545,579772.5953,3912313.303,2014-10-08 18:38:00,NaN,120.0
17,1,21,1,160.607388,225.615141,290.622893,366.533622,463.818018,664.189747,693.975497,...,5255.168151,5276.817465,5298.466780,5332.648442,5367.232441,579748.9784,3912253.953,2014-10-08 18:42:00,NaN,120.0
18,1,23,1,150.942914,212.038855,273.134796,342.454777,427.896765,513.338753,828.002456,...,5366.260479,5395.527489,5424.794498,5454.061508,5483.328518,579749.7420,3912278.872,2014-10-08 18:46:00,40.651924,120.0
19,1,24,1,114.664005,161.075627,191.795774,216.689383,241.582992,266.476600,573.811720,...,5184.215441,5206.362780,5228.538123,5250.719721,5272.901318,579716.6969,3912255.195,2014-10-08 18:48:00,18.172335,120.0
20,1,25,1,98.791502,138.778539,182.043673,226.526025,271.008378,620.782352,648.382545,...,5201.604834,5223.664302,5245.579399,5267.425284,5289.271169,579733.6959,3912248.771,2014-10-08 18:50:00,73.656633,120.0
21,1,26,1,93.711342,131.642124,164.011238,190.182137,216.353036,242.523934,268.694833,...,5515.434451,5538.973162,5574.518889,5637.815428,5701.111967,579749.9713,3912320.607,2014-10-08 18:52:00,19.417170,120.0
22,1,27,1,104.551036,146.869312,182.174892,209.665153,237.155414,264.645675,292.135936,...,5430.369540,5455.004067,5479.638593,5504.273120,5528.907647,579736.6448,3912306.485,2014-10-08 18:54:00,47.384214,120.0
23,1,28,1,59.226937,83.199745,107.172553,131.145361,155.118169,179.090977,203.063785,...,5421.433053,5454.867212,5488.301371,5521.735530,5555.169689,579770.8656,3912273.710,2014-10-08 18:56:00,49.935726,120.0
24,1,29,1,90.681936,127.386530,164.091123,192.923646,217.997098,243.070551,268.144003,...,5440.746997,5465.032199,5489.317401,5513.602603,5537.887804,579736.3838,3912309.829,2014-10-08 18:58:00,23.284067,120.0
25,1,30,1,91.376085,128.361644,165.347202,195.455268,222.279194,249.103120,275.927046,...,5342.955801,5367.607287,5392.258772,5416.910258,5441.561743,579714.7585,3912301.198,2014-10-08 19:00:00,48.761957,120.0
26,1,31,1,62.390688,87.644062,112.897436,138.150809,163.404183,188.657557,213.910931,...,5073.561326,5155.506195,5177.861995,5200.325486,5222.985854,579697.3485,3912255.650,2014-10-08 19:02:00,43.822984,120.0
27,1,32,1,230.392931,323.647213,416.901494,510.155776,603.410058,696.664339,789.918621,...,5186.621090,5210.873101,5235.125113,5259.377124,5283.629135,579674.6196,3912293.118,2014-10-08 19:04:00,NaN,120.0
28,1,40,1,207.390479,291.334245,375.278010,459.221775,543.165541,627.109306,711.053072,...,5074.623183,5146.186529,5168.368086,5190.549642,5212.758690,579707.7368,3912245.114,2014-10-08 19:20:00,146.088813,120.0
29,1,41,1,79.283940,111.375058,143.466177,175.557295,207.648414,239.739532,271.830651,...,10865.955880,NaN,NaN,NaN,NaN,579818.6457,3912340.199,2014-10-08 19:22:00,NaN,120.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,18,86,4,141.463498,198.722534,255.981569,313.240604,370.499639,427.758674,477.249015,...,2685.221040,2696.891047,2708.561053,2720.231060,2731.901066,590683.0663,3910671.498,2014-10-22 18:05:00,37.677601,300.0
74,18,87,4,163.658096,229.900659,296.143221,362.385784,428.628347,494.870909,602.682155,...,2672.554177,2684.994935,2697.435693,2709.876451,2722.317209,590715.3083,3910690.993,2014-10-22 18:10:00,52.855201,300.0
75,18,88,4,372.415378,405.945304,439.475230,473.005156,506.535082,540.065008,573.594934,...,1658.742542,1670.062620,1681.382697,1692.702775,1704.022852,590764.9528,3910709.134,2014-10-22 18:15:00,8.492592,300.0
76,18,89,4,333.835705,367.146849,400.457993,433.769137,467.080282,500.391426,533.702570,...,1647.197506,1658.242167,1669.286829,1680.331491,1691.376153,590773.4236,3910709.742,2014-10-22 18:20:00,260.474872,300.0
77,18,90,4,74.218048,104.258686,134.299325,164.339963,194.380602,224.421240,254.461878,...,1299.960714,1310.150143,1320.339572,1330.529000,1340.718429,590549.9650,3910575.901,2014-10-22 18:25:00,59.605474,300.0
78,18,91,4,270.504454,379.994352,484.831930,589.388187,693.944444,783.555873,812.678490,...,1348.976198,1361.067464,1373.158730,1385.249996,1397.341262,590529.4369,3910631.860,2014-10-22 18:30:00,17.134101,300.0
79,18,92,4,402.255982,565.073880,628.354673,660.036372,691.718071,723.399770,755.081468,...,1379.701304,1392.790301,1405.879298,2684.072070,2696.128128,590539.0784,3910646.024,2014-10-22 18:35:00,18.735493,300.0
80,18,93,4,203.474127,285.832702,374.366466,466.794147,559.221827,639.673884,671.654908,...,1410.094832,2697.830104,2710.107138,2722.384171,2734.661205,590543.6745,3910664.187,2014-10-22 18:40:00,317.867833,300.0
81,18,94,4,24.101119,33.856333,43.611548,53.366763,63.121977,72.877192,82.632407,...,463.085780,472.840995,482.596209,492.351424,502.106639,590474.1928,3910974.368,2014-10-22 18:45:00,281.785902,300.0
82,18,95,4,48.433793,68.037947,87.642102,107.246256,126.850410,146.454565,166.058719,...,1584.542625,1597.479235,1610.415846,1623.352456,1636.289067,590747.0139,3911044.880,2014-10-22 18:50:00,100.958726,300.0
83,18,96,4,202.380326,284.296172,365.045943,400.338179,435.630415,470.922651,506.214888,...,1463.470666,1477.264199,1491.057732,1504.851264,1518.644797,590843.9125,3911016.537,2014-10-22 18:55:00,21.592807,300.0
84,18,97,4,206.113052,289.539763,371.686443,403.933209,436.179975,468.426741,500.673507,...,1412.639321,1426.339792,1440.040264,1453.740736,1467.441208,590857.3916,3911033.406,2014-10-22 19:00:00,NaN,300.0
85,18,99,4,58.550616,82.249674,105.948733,129.647792,153.346850,177.045909,200.744968,...,2018.507896,2055.241885,2091.975874,2128.709863,2165.443852,590730.0298,3910902.300,2014-10-22 19:10:00,187.893857,300.0
86,18,100,4,87.885284,123.457899,159.030514,194.603129,230.175744,265.748359,301.320974,...,1547.699594,1583.944403,1620.189212,1656.434022,1692.678831,590693.2354,3910718.044,2014-10-22 19:15:00,52.382280,300.0
87,18,101,4,128.458573,180.453710,232.448847,284.443984,336.439121,388.434258,440.429395,...,1321.600902,1350.297630,1378.994358,1407.691086,1436.387814,590651.3323,3910686.611,2014-10-22 19:20:00,60.268150,300.0
88,18,102,4,79.698848,111.957906,144.216963,176.476021,208.735078,240.994136,273.253193,...,1190.081314,1206.029623,1221.977932,1237.926241,1253.874550,590645.5695,3910626.619,2014-10-22 19:25:00,NaN,300.0
89,18,104,4,318.413445,380.324050,441.362830,502.401611,563.440391,624.479171,685.517952,...,3144.097105,3159.749423,3175.401742,3191.054060,3206.706379,590799.4280,3910952.766,2014-10-22 19:35:00,12.062417,300.0
90,18,105,4,413.931538,470.300905,525.223013,580.145121,635.067229,689.989337,744.911445,...,3146.429004,3162.205112,3177.981220,3193.757327,3209.533435,590794.2658,3910963.668,2014-10-22 19:40:00,NaN,300.0
91,18,108,4,187.126428,262.868078,338.609727,414.351377,490.093026,565.834675,641.576325,...,3091.548600,3114.838599,3138.128597,3161.418595,3184.708594,590708.7189,3910925.884,2014-10-22 19:55:00,NaN,300.0
92,18,112,4,91.350175,128.325246,165.300317,202.275388,239.250459,276.225530,313.200601,...,2982.849770,2998.212512,3013.575253,3028.937995,3044.300736,590894.2679,3911003.161,2014-10-22 20:15:00,182.670230,300.0
93,18,113,4,36.717661,51.579571,66.441482,81.303392,96.165303,111.027213,125.889123,...,4223.672414,4241.390866,4259.109318,4276.827770,4294.546222,590777.0102,3911143.229,2014-10-22 20:20:00,211.640010,300.0
94,18,114,4,84.443691,118.623280,152.802869,186.982458,221.162047,255.341636,289.521225,...,1397.858591,1413.508040,1429.157489,1444.806939,1460.456388,590634.7669,3911299.940,2014-10-22 20:25:00,53.385790,300.0
95,18,115,4,280.691386,394.304566,446.473244,498.338836,550.204428,602.070021,653.935613,...,1547.106078,1562.875439,1578.644800,1594.414162,1610.183523,590643.8292,3911247.329,2014-10-22 20:30:00,16.880984,300.0
96,18,116,4,253.953095,356.743633,443.986079,531.151832,618.317584,705.483337,747.296756,...,1509.676416,1525.331283,1540.986151,1556.641019,1572.295887,590645.7704,3911264.098,2014-10-22 20:35:00,88.462123,300.0
97,18,117,4,58.882372,82.715713,106.549054,130.382395,154.215736,178.049077,201.882417,...,1776.601103,1792.124347,1807.647591,1823.170835,1838.694079,590693.7427,3911189.773,2014-10-22 20:40:00,NaN,300.0
98,18,120,4,179.114008,251.612535,324.111062,396.609589,469.108116,541.606644,614.105171,...,2714.531989,2732.761124,2750.990259,2769.219394,2807.662104,590578.2806,3910607.275,2014-10-22 20:55:00,NaN,300.0
99,18,122,4,291.011824,408.802325,526.592825,644.383326,762.173826,879.964326,997.754827,...,2604.948153,2623.367667,2641.787181,2660.206695,2678.626209,590536.7074,3910623.810,2014-10-22 21:05:00,NaN,300.0
100,18,127,4,155.372847,218.261857,281.150866,344.039876,406.928885,469.817895,532.706905,...,3241.449816,NaN,NaN,NaN,NaN,590662.6898,3910681.038,2014-10-22 21:30:00,142.359775,300.0
101,18,128,4,96.152385,135.071208,173.990030,212.908853,251.827675,290.746498,329.665320,...,NaN,NaN,NaN,NaN,NaN,590802.1309,3910709.717,2014-10-22 21:35:00,NaN,300.0
102,18,130,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,590897.2715,3910674.061,2014-10-22 21:45:00,NaN,NaN

In [5]:
#Tidy dataframe
tidy_bigdf= pd.melt(bigdf, ["ID","date", "Day", "Reloc", "x", "y", "dt",'dist'], var_name="FPT_n", value_name="FPT_value")

In [6]:
tidy_bigdf.head()

,ID,date,Day,Reloc,x,y,dt,dist,FPT_n,FPT_value
0,1,2014-10-08 18:02:00,1,1,579778.3163,3912570.091,120.0,14.882624,FPT1,NaN
1,1,2014-10-08 18:04:00,1,2,579768.7550,3912558.686,120.0,88.330710,FPT1,113.059505
2,1,2014-10-08 18:06:00,1,3,579800.3625,3912476.204,120.0,73.249729,FPT1,35.961147
3,1,2014-10-08 18:08:00,1,4,579785.6257,3912404.452,120.0,59.938469,FPT1,43.683414
4,1,2014-10-08 18:10:00,1,5,579777.6466,3912345.047,120.0,77.986874,FPT1,42.489283

Check if all the date is in the dataframe.
It is necessary to divide the number of data by 50, because every trajectory has the result of FPT for 50 radii. This result should be the number of data of just one trajectory (Day) for each individual.

In [7]:
check=tidy_bigdf.groupby(["ID","Day"]).size()/50
check

ID  Day
1   1      125.0
    2      255.0
    3      289.0
    4      311.0
    5       30.0
2   1       38.0
    2      100.0
    3       92.0
    4       87.0
3   1       36.0
    2       71.0
    3       62.0
    4       47.0
    5       71.0
    6       64.0
    7       62.0
    8        3.0
4   1       41.0
    2       68.0
    3       59.0
    4       72.0
    5       36.0
    6        6.0
5   1       21.0
    2       52.0
6   1       11.0
    2       86.0
7   1       47.0
8   1       63.0
    2      120.0
           ...
9   2       68.0
    3       56.0
    4       55.0
    5       55.0
10  1        6.0
    2       38.0
    3       32.0
    4       47.0
    5       40.0
11  1       57.0
    2      129.0
    3       48.0
12  1       33.0
    2       32.0
    3       16.0
13  1       21.0
14  1       12.0
    2       60.0
    3       15.0
15  1       15.0
    2        5.0
    3        4.0
16  1       14.0
    2       16.0
17  1       10.0
    2      109.0
18  1       85.0
    2      123.0
    3      117.0
    4      103.0
Length: 62, dtype: float64

Add the values of the radii to the dataframe

In [8]:
radio= pd.read_csv("radio.csv", names=['radio']) 
#The file radio.csv contains the values of the radii from 12 to 250 (m).

In [9]:
#The FPT_n are related to the index of the radio.csv file 
radio = radio.assign(FPT_n = ['FPT{}'.format(1+i) for i in range(50)]) 
radio.head()

      radio FPT_n
0  12.00000  FPT1
1  16.85714  FPT2
2  21.71429  FPT3
3  26.57143  FPT4
4  31.42857  FPT5

In [10]:
#Dataframe with all the trajectories data and the radii values
new_bigdf=pd.merge(tidy_bigdf, radio, on="FPT_n", how="inner")

In [11]:
new_bigdf.head()

,ID,date,Day,Reloc,x,y,dt,dist,FPT_n,FPT_value,radio
0,1,2014-10-08 18:02:00,1,1,579778.3163,3912570.091,120.0,14.882624,FPT1,NaN,12.0
1,1,2014-10-08 18:04:00,1,2,579768.7550,3912558.686,120.0,88.330710,FPT1,113.059505,12.0
2,1,2014-10-08 18:06:00,1,3,579800.3625,3912476.204,120.0,73.249729,FPT1,35.961147,12.0
3,1,2014-10-08 18:08:00,1,4,579785.6257,3912404.452,120.0,59.938469,FPT1,43.683414,12.0
4,1,2014-10-08 18:10:00,1,5,579777.6466,3912345.047,120.0,77.986874,FPT1,42.489283,12.0

In [12]:
#Save the file for posterior analysis (go to Variance notebook)
new_bigdf.to_csv("newbigdf_clean.csv", index=False)